.w-1200{
    width: 1200px;
    margin: 0 auto;
}
.title{
    color: white;
    font-size: 66px;
    text-decoration: none;
    padding: 40px 0;
    display: block;
}
nav{
    padding-bottom: 20px;
}
nav a{
    font-size: 20px;
    margin-right: 40px;
    color: white;
    text-decoration: none;
}