<ul>
  <li>
    <div class="card">
      <div class="inner-card">
        <img src="assets/1.jpg" title="《背叛》" alt="《背叛》">
        <div class="title">背叛</div>
        <div class="content">
          <p>入佛门六根不净，进商界狼性不足。</p>
          <p>弱肉强食也罢，普渡众生也罢，关于世界的本质，必然是物竟天择，适者生存。</p>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <div class="inner-card">
        <img src="assets/2.jpg" title="《遥远的救世主》" alt="《遥远的救世主》">
        <div class="title">遥远的救世主</div>
        <div class="content">
          <p>神即道，道法自然，如来。</p>
          <p>杀富富不去，救贫贫不离。救主的文化唯救世主可说，救主不是人，是道，得救不是破了戒的狼吞虎咽，是觉悟。</p>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <div class="inner-card">
        <img src="assets/3.jpg" title="《天幕红尘》" alt="《天幕红尘》">
        <div class="title">天幕红尘</div>
        <div class="content">
          <p>见路不走。</p>
          <p>每个选择里都有变数，每一个变数又会引发一连串的变数，都会带来不一样的后果。</p>
        </div>
      </div>
    </div>
  </li>
</ul>
