.card {
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    transition: all .2s ease-in-out;
    border: 1px solid #dddee1;
    border-color: #e9eaec;  
}
.card-body{
    padding: 16px;
}
header{
    color: #495060;
    font-weight: bold;
    font-size: 16px;
    padding: 0 16px 10px;
    margin: 0 -16px 20px;
    border-bottom: 1px solid rgb(237, 239, 241);
}
.f-right{
    float: right;
}
.small-btn{
    font-size: 12px;
    margin-top: -3px;
}
.title{
    width: 100%;
}
.item{
    margin-bottom: 20px;
}
.ctr-btn{
    margin-top: 30px;
    position: relative;
}
.publish-btn{
    margin-top: -4px;
}